img {
  float: left;
  padding: 20px;
}

.wide {
    line-height: 25px;

}

.sidebar {
  float: right;
  width: 30%;
  background-color: skyblue;
  margin: 10px;
  border: solid black;
  padding: 20px;
}

.left {
  margin-left: 45px;
}
